#change_button{
    width: 20px;
    height: 20px;
}


.count{
    background-color: transparent;
    border-bottom: 2px;
    width: 80px;
}

#sell0{
    color: #ece787;
}

#p
{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

.broker
{
    height: 330px;
}
