html
    head
        style
            include ../css/Global.css
            include ../css/alreadySold.css
    body
        h1 Already Sold

        - var n = 0;
        while n < Object.keys(library["alreadySold"]).length
            img(src=library["alreadySold"][n.toString()]["Url"])
            h2=library["alreadySold"][n.toString()]["Name"]
            h2="Total price: " + library["alreadySold"][n.toString()]["curPrice"]

            - ++n;

