html
    head
        style
            include ../css/index.css
    body
        form(action="/" method="post")
            div(class="mainDiv")
                label Введите ваш ключ
                input(name="Name" required)
                p

                input(type="submit" value="Сохранить")
