html
    style
        include ../public/css/Global.css
        include ../public/css/form.css

    h3 Введите данные

    form(action="/edit/" + name method="post")
        div(class="mainDiv")
            p
            label Автор
            input(value=library["Author"] name="BookAuthor" class="AuthorInput" required="True")

            p
            label Название
            input(value=library["Name"] name="BookName" class="NameInput" required="True")

            p
            label Дата выпуска
            input(value=library["ReleaseDate"] name="BookReleaseDate" class="ReleaseDateInput" type="date" required="True")

            p
            input(type="submit" value="Сохранить")