html
    style
        include ../../css/commonSettings/Global.css
        include ../../css/participans/participantChanges.css

    h3 Введите данные

    form(action="/participants/edit/" + name method="post")
        div(class="mainDiv")
            p
            label Имя
            input(value=library["Name"] name="ParticipantName" class="NameInput" required="True")

            p
            label Запас денежных средств
            input(value=library["Money"] name="ParticipantMoney" class="MoneyInput" required="True")

            p
            input(type="submit" value="Сохранить")