h3 {
  margin: 20px;
}
.mainDiv {
  margin-left: 30px;
}
label,
input {
  margin-top: 10px;
}
.NameInput,
.StartPriceInput,
.AuthorInput {
  margin-left: 10px;
}
.MinRateInput {
  margin-left: 9px;
}
.MaxRateInput {
  margin-left: 5px;
}
